root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_xml_space_inside_empty_tag = true

[*.fs]
max_line_length = 120
fsharp_blank_lines_around_nested_multiline_expressions = false
fsharp_newline_between_type_definition_and_members = false
fsharp_max_function_binding_width = 1
fsharp_max_if_then_else_short_width = 40
fsharp_max_infix_operator_expression = 80
fsharp_max_array_or_list_width = 80
fsharp_max_array_or_list_number_of_items = 5
fsharp_max_dot_get_expression_width = 80
fsharp_multiline_block_brackets_on_same_column=true
fsharp_multiline_bracket_style = stroustrup
fsharp_keep_max_number_of_blank_lines = 1
fsharp_space_before_lowercase_invocation = false

[*.fsi]
fsharp_newline_between_type_definition_and_members = true
fsharp_keep_max_number_of_blank_lines = 1

[Frontend.Core.fs]
fsharp_disable_formatter=true
